In [1]:
import pandas as pd
 
# Create dates dataframe with frequency  
data = pd.date_range('1/1/2011', periods = 10, freq ='H')
 
data

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00', '2011-01-01 05:00:00',
               '2011-01-01 06:00:00', '2011-01-01 07:00:00',
               '2011-01-01 08:00:00', '2011-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [7]:
# Create date and time with dataframe
from datetime import datetime
data = pd.date_range('1/1/2011', periods = 10, freq ='H')
 
x = datetime.now()
x.month, x.year

(12, 2019)

In [8]:
# Create date and time with dataframe
rng = pd.DataFrame()
rng['date'] = pd.date_range('1/1/2011', periods = 72, freq ='H')
 
# Print the dates in dd-mm-yy format
rng[:5]
 
# Create features for year, month, day, hour, and minute
rng['year'] = rng['date'].dt.year
rng['month'] = rng['date'].dt.month
rng['day'] = rng['date'].dt.day
rng['hour'] = rng['date'].dt.hour
rng['minute'] = rng['date'].dt.minute
 
# Print the dates divided into features
rng.head(3)

                 date  year  month  day  hour  minute
0 2011-01-01 00:00:00  2011      1    1     0       0
1 2011-01-01 01:00:00  2011      1    1     1       0
2 2011-01-01 02:00:00  2011      1    1     2       0

In [11]:
# importing pandas package 
import pandas as pd 
  
# making data frame from csv file 
data = pd.read_csv("todatetime.csv") 
  
# overwriting data after changing format 
data["Date"]= pd.to_datetime(data["Date"]) 
  
# info of data 
data.info() 
  
# display 
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
Date    1000 non-null datetime64[ns]
Time    1000 non-null object
dtypes: datetime64[ns](1), object(1)
memory usage: 11.8+ KB

          Date      Time
0   1993-08-06  12:42 PM
1   1996-03-31   6:53 AM
2   1993-04-23  11:17 AM
3   2005-03-04   1:00 PM
4   1998-01-24   4:47 PM
..         ...       ...
995 2014-11-23   6:09 AM
996 1984-01-31   6:30 AM
997 2013-05-20  12:39 PM
998 2013-04-20   4:45 PM
999 2012-05-15   6:24 PM

[1000 rows x 2 columns]

In [12]:
# importing pandas package 
import pandas as pd 
  
# making data frame from csv file 
data = pd.read_csv("todatetime.csv") 
  
# overwriting data after changing format 
data["Time"]= pd.to_datetime(data["Time"]) 
  
# info of data 
data.info() 
  
# display 
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
Date    1000 non-null object
Time    1000 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 11.8+ KB

           Date                Time
0      8/6/1993 2019-12-19 12:42:00
1     3/31/1996 2019-12-19 06:53:00
2     4/23/1993 2019-12-19 11:17:00
3      3/4/2005 2019-12-19 13:00:00
4     1/24/1998 2019-12-19 16:47:00
..          ...                 ...
995  11/23/2014 2019-12-19 06:09:00
996   1/31/1984 2019-12-19 06:30:00
997   5/20/2013 2019-12-19 12:39:00
998   4/20/2013 2019-12-19 16:45:00
999   5/15/2012 2019-12-19 18:24:00

[1000 rows x 2 columns]